@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Theme: Luminous Light --- */
body {
  /* REMOVED: cursor: none; */
  background-color: #f8fafc;
  color: #1e293b;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* input, textarea, select {
  cursor: text;
} */